{#
# Home page
#}

{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('products_list') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('products_list') }}
{% endblock %}

{% block body %}
    <div class="home">
        <h1 class="home__title">Ads list</h1>
        <div class="home__search">
            {{ include('forms/search.html.twig',
                {
                    'searchFormRouteName': 'app_home',
                    'searchFormParams': {'page' : 1},
                    'searchFormSubstringValue': app.request.query.get('substring')
                }
            ) }}
        </div>
        <div class="home__products-list">
            {{ render(controller('App\\Controller\\ProductsListController:index',
                {'products': products, 'page': page, 'isUserExperience': isUserExperience}
            )) }}
        </div>
    </div>
{% endblock %}