{#
# Home page
#}

{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="home">
        <h1 class="home__title">Ads List</h1>
        <div class="home__search">
            {{ include('forms/search.html.twig',
                {
                    'searchFormRouteName': 'app_home',
                    'searchFormSubstringValue': app.request.query.get('substring')
                }
            ) }}
        </div>

        {% if products|length > 0 %}
            <div class="home__sort-box sort-box">
                <div class="sort-box__title">Sort by:</div>
                <div class="sort-box__items">
                    {% for sortItem in sortItems %}
                        {{ knp_pagination_sortable(
                            products,
                            sortItem['title'],
                            sortItem['field']
                        ) }}
                    {% endfor %}
                </div>
            </div>
            <div class="home__products-list">
                {{ render(controller('App\\Controller\\ProductsListController:index',
                    {'products': products, 'isUserExperience': isUserExperience}
                )) }}
            </div>
            {{ knp_pagination_render(products) }}
        {% else %}
            <div class="home__items-not-found items-not-found">Items not found</div>
        {% endif %}
    </div>
{% endblock %}