{#
# User products
#}

{% extends 'base.html.twig' %}

{% block title %}My Ads{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('products_list') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('products_list') }}
{% endblock %}

{% block body %}
    <div class="user-products">
        <h1 class="user-products__title">My Ads</h1>
        <div class="user-products__actions">
            <a class="user-products__actions-link btn btn-primary" href="{{ path('app_add_user_product') }}">
                Add advertisement
            </a>
        </div>
        <div class="user-products__list">
            {{ render(controller('App\\Controller\\ProductsListController:index',
                {'products': products, 'isUserExperience': isUserExperience}
            )) }}
        </div>
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}